.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  padding: 1rem;
  width: 80%;
  border-radius: 1rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  max-width: 50%;
  display: block;
  align-content: center;
  margin: 3rem auto;
}

body {
  background-color: violet;
}
